{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="border bg-white m-2 p-3">
                <div class="p-1 m-1 border-bottom bg-light" style="font-size: 13px;"><i
                    class="fa fa-filter ml-1"></i>فیلتر بندی
                </div>


                <div class="p-1 m-1 border-bottom" style="font-size: 13px;">متراژ</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">از</span>
                    </div>
                    <input id="size1" type="text" placeholder="-" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">متر</span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">تا</span>
                    </div>
                    <input id="size2" placeholder="-" type="text" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">متر</span>
                    </div>
                </div>




                <div class="p-1 m-1 border-bottom" style="font-size: 13px;">قیمت</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">از</span>
                    </div>
                    <input id="price1" type="text" placeholder="-" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">تومان</span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">تا</span>
                    </div>
                    <input id="price2" type="text" placeholder="-" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">تومان</span>
                    </div>
                </div>

                <div class="p-1 m-1 border-bottom" style="font-size: 13px;">سن بنا</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">از</span>
                    </div>
                    <input id="building_age1" placeholder="-" type="text" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">سال</span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">تا</span>
                    </div>
                    <input id="building_age2" placeholder="-" type="text" class="form-control"
                    aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info text-white">سال</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1" style="font-size: 13px;">طبقه</label>
                    <select class="form-control" id="floor">
                        <option value="">انتخاب ...</option>
                        <option value="Z">زیر هم کف</option>
                        <option value="H">هم کف</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1" style="font-size: 13px;">اگهی دهنده</label>
                    <select class="form-control" id="Advertiser">
                        <option value="">انتخاب ...</option>
                        <option value="S">شخصی</option>
                        <option value="A">املاک</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="exampleFormControlSelect1" style="font-size: 13px;">تعداد اوتاق</label>
                    <select class="form-control" id="number_of_rooms">
                        <option value="">انتخاب ...</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>


                <button id="filter" type="button" class="btn btn-outline-primary btn-block mt-2" style="font-size: 14px;">اعمال فیلتر</button>


            </div>
        </div>
        <div class="col-md-9">
            <div class="border bg-white m-2 p-1">
                <div class="p-2 m-1 border-bottom">
                    <span class="text-dark" style="font-size: 13px;"><i
                        class='fas fa-sort-amount-down-alt ml-2 text-secondary' style='font-size:18px'></i>مرتب سازی
                    بر اساس: </span>
                    <span><a class="btn btn-light orderdes" id="price" style="font-size: 13px;">گران ترین</a></span>
                    <span><a class="btn btn-light orderAsc" id="price" style="font-size: 13px;">ارزان ترین</a></span>
                    <span><a class="btn btn-light orderdes" id="publish_date" style="font-size: 13px;">قدیمی
                    ترین</a></span>
                    <span><a class="btn btn-light orderAsc" id="publish_date" style="font-size: 13px;">جدید
                    ترین</a></span>
                </div>
                <div id="adver" class="row">
                </div> 
            </div>
        </div>
    </div>
</div>



{% endblock content %}
{% block js %}
{{ block.super }}

<script>
    var price = $('#price1').val()+"-"+$('#price2').val()
    var size = $('#size1').val()+"-"+$('#size2').val()
    var building_age = $('#building_age1').val()+"-"+$('#building_age2').val()
    var rooms = $('#number_of_rooms').val()
    var user_type = $('#Advertiser').val()
    var floor = $('#floor').val()
    show(price, size, rooms, building_age, user_type, floor)
    $('#filter').on('click', function (event) {
        var price = $('#price1').val()+"-"+$('#price2').val()
        var size = $('#size1').val()+"-"+$('#size2').val()
        var building_age = $('#building_age1').val()+"-"+$('#building_age2').val()
        var rooms = $('#number_of_rooms').val()
        var user_type = $('#Advertiser').val()
        var floor = $('#floor').val()
        show(price, size, rooms, building_age, user_type, floor)
    });

    

    function show(price, size, rooms, building_age, user_type, floor) {
        $('#adver').html('');

        $.ajax({
            url: "{% url 'base:getdivarhouse' %}",
            type: "GET",
            data: {
                price:price,
                size:size,
                building_age:building_age,
                rooms:rooms,
                user_type:user_type,
                floor:floor,
            },
            success: function (data) {
                if (data) {
                    $.each(data, function () {
                        var url = "{% url 'base:detail' 123 321 %}";
                        var id = $(this)[0]['url']
                        url = url.replace('123', id.split("/")[2]);
                        url = url.replace('321', id.split("/")[3]);
                        html = `
                        <div class="col-md-4">
                        <div class="border p-2 m-1 shadow p-3 mb-5 bg-white rounded" style="border-radius:5px;min-height: 289px;">
                        <div class="p-2 text-center"> 
                        <a href="${url}">
                        <img width="220" src="${$(this)[0]['image']}" alt="">
                        </a>
                        </div>
                        <div class="text-dark p-2 m-1 text-center font-weight-bold" style="font-size:13px;"">${$(this)[0]['title']}</div>
                        <div class="border border-secondary p-1 m-1 text-secondary text-center" style="font-size:13px;border-radius:7px;">${$(this)[0]['price']}</div>
                        <div class="m-1 p-2 text-secondary text-center" style="font-size:13px;">${$(this)[0]['publish']}</div>
                        </div>
                        </div>
                        `
                        $('#adver').append(html);
                    });  
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }


</script>


{% endblock js %}










<!-- <div class="row">
    <div class="col-md-4">
        <img class="p-1" height="170" width="250" src="${$(this)[0]['img']}" alt=""
            style="border-radius: 10px;">
    </div>
    <div class="col-md-4">
        <div class="text-dark p-1 font-weight-bold border-bottom">${$(this)[0]['title']}
        </div>
        <div class="border border-primary text-center text-dark p-2 m-2"
            style="font-size: 13px;border-radius: 5px;">
            <span>قیمت:</span>
            <span>${$(this)[0]['price']}</span>
        </div>
        <div class="border border-primary text-center text-dark p-2 m-2"
            style="font-size: 13px;border-radius: 5px;">
            <span>تعداد اوتاق:</span>
            <span>${$(this)[0]['numberـofـrooms']}</span>
        </div>
        <div class="border border-primary text-center text-dark p-2 m-2"
            style="font-size: 13px;border-radius: 5px;">
            <span>اگهی دهنده:</span>
            <span>${$(this)[0]['Advertiser']}</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-body border border-primary p-2 m-2"
            style="font-size: 13px;line-height: 2rem; border-radius: 5px;">
            ${$(this)[0]['description']}

        </div>
    </div>
    <button type="button" class="m-4 btn btn-outline-success btn-block">مشاهده اگهی</button>

</div> -->



<!-- 
function sortByKeyDesc(array, key) {
        return array.sort(function (a, b) {
            var x = a[key]; var y = b[key];
            return ((x > y) ? -1 : ((x < y) ? 1 : 0));
        });
    }
    function sortByKeyAsc(array, key) {
        return array.sort(function (a, b) {
            var x = a[key]; var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
    } -->